- var description = "fullstack developer that is more devops than designer"
- var main_color = '#6639a6'

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(content="i3=edge" http-equiv="x-ua-compatible")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="robots" content="index,follow")
    meta(name="msapplication-config" content="/browserconfig.xml")
    link(rel="manifest" href="~@/site.webmanifest")

    meta(name="theme-color" content="#{main_color}")
    meta(name="msapplication-TileColor" content="#{main_color}")

    include pug/meta/favicon.pug
    include pug/meta/facebook.pug
    include pug/meta/twitter.pug

    title.
      marcos ferreira - #{description}
  body
    header
      h1 hi, I'm marcos ferreira
      p #{description}
      p
        abbr(title="more learning than breaking tho :)")
          em always learning and breaking things
    main
      img(src="~@/images/me.jpg")
      ul
          li #[a(href="//linkedin.com/in/mracos") linkedin]
          li #[a(href="//github.com/mracos") github]
          li #[a(href="//gitlab.com/mracos") gitlab]
          li #[a(href="//wakatime.com/mracos") wakatime]
          li #[a(href="//last.fm/user/mrcsferr") last fm]
          li #[a(href="//mracos.github.io/resume") resume]
    footer
      p got something to say? #[a(href="mailto:marcosp4f@gmail.com") don't let your dreams be dreams]
      p.
       this website is powered by
        #[abbr(title="like sass, pub, webpack (and thank god no js)") shiny web technologies]
        &trade;

  if NODE_ENV == 'production'
    script(type="text/javascript" src="https://www.google-analytics.com/analytics.js" async defer)
    script.
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA--115754396-1', 'auto');
      ga('send', 'pageview');
